/* CSS - style global */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
	background-color: #000000;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.position-center {
	margin: 0 auto;
}

textarea {
  resize: none;
}

a {
	text-decoration: none;
}

.body2 {
	background: #232526;
	color: #000000;
}

h3 {
	color: #fff;
	font-weight: bold;
}

section p {
	color: #fff;
}

/* CSS - Header */
.logo img {	
	width: 250px;
	height: auto;
}

div img[class="logo"] {
	width: 235px;
}

/*CSS - Filtrar Por */

.text-filtered {
	color: #fff;
	opacity: 65%;
	text-decoration: none;
	font-weight: bold;
	display: inline;
}

.img-filtered:hover {
	opacity: 100%;
}

.text-filtered:hover {
	color: #fff;
	opacity: 100%;
}

.body-filtered {
	width: auto;
	margin: 0 auto;
	border-radius: 5px;
}

.text-section-filtered {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

.hr-filterd hr{
	background-color: #fff;
	border: none;
	height: 2px;
}

/* CSS - Post */


.post {
	border: solid 2px #fff;
	border-radius: 22px;
}

.info-post p {
	border-bottom: solid 1px #fff;
	text-align: justify;
	height: auto;
  	word-wrap: break-word;
}

.body-comment {
	max-height: 170px;
	overflow: auto;
}

.textarea-comment {
	height: 40px;
	background-color: #000000;
	color: #fff;
}

.textarea-comment:focus {
	background-color: #000000;
	color: #fff;
}

.submit-comment {
	height: 40px;
	background-color: #000000;
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
}

.input-group .btn {
    position: relative;
    z-index: 0;
}

.submit-comment:hover {
	background-color: #950101;
}

.text-name-comment {
	font-weight: bold;
	display: inline;
}

.text-comment {
	padding-left: 1.5%;
}

.button-submit2 {
	background-color: #000000;
	width: 100%;
}

.button-submit2:hover {
	background-color: #950101;
}


/* CSS - Buzón */

.mailbox img {
	margin: auto;
	display: block;
	left: 90%;
	top: 87%;
	width: 60px;
	height: auto;
	position: fixed;
}

.mailbox2 img {
	display: none;
}

.v-mailbox {
	background-color: #787a7b;
	border-radius: 10px;
	max-width: 800px;
	color: #000000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/* CSS - STYLES GLOBAL LOGIN Y SIGN UP */

.button-submit {
	background-color: #373b68;
	color: #fff;
	height: 50px;
	width: 100%;
	margin: 0 auto;
}

.button-submit:hover {
	background-color: #252847;
}

.align-input {
	margin: 0 auto;
	width: 100%;
}

.message-error {
	padding-left: 5%;
	background-color: red;
	font-weight: bold;
}

.message-correcto {
	padding-left: 5%;
	background-color: green;
	font-weight: bold;
}

div[class="mt-3"] p {
	padding-left: 10px;
	border-radius: 5px;
}

.form-users {
	background: #787a7b;
	border-radius: 5px;
	padding: 20px;
}

/*CSS - Login */

body[class="body2"] a {
	color: #fff;
	font-weight: bold;
}

/* CSS - Registro */
.coincide {
	color: #950101;
	font-weight: bold;
	display: inline;
}

.terminos span {
	color: #fff;
}

.terms p {
	display: inline;
	font-weight: bold;
}

.cerrar {
	color: #373b68;
}

.cerrar:hover {
	color: #252847;
}

.v-terms {
	background-color: #787a7b;
	padding: 10px;
	min-width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	border: solid 2px #000000;
	border-radius: 10px;
}

/* CSS - AVISO PARA EL VISITANTE */

.v-visitante {
	background-color: #787a7b;
	color: #000000;

}

.bg-visitante {
	background-color: #616262;
}

.bg-visitante:hover {
	background-color: #787a7b;
	color: #fff;
}

.title-aviso {
	display: inline;
	color: #fff;
	font-weight: bold;
	margin: 0 auto;
}

.body-mailbox  {
	margin: 0 auto;
	background: #232526;
	border-radius: 10px;
}

.buttons-aviso {
	background-color: #373b68;
	color: #fff;
}

.buttons-aviso:hover {
	background-color: #252847;
}

.img-aviso img {
	width: 28px;
	height: 28px;
}

div[class="col-6 col-sm-4"] i {
	font-size: 25px;
} 

.color button{
	background-color: black;
	color: #fff;
}

.submit:hover {
	opacity: 50%;
}

.bg-dark {
    background-color: #000000!important;
}

.acercaDe {
	border: solid 2px white;
	border-radius: 5px;
	color: #fff;
	transition: background-color 1.5s;
}



/*Btn cerrar sesion user - temporal*/
.btn-logout {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    width: 30%; 
    height: auto;
    text-decoration: none;
    transition: background-color all 1.5s;
}

.btn-logout:hover, .btn-logout:active {
    background-color: #950101;
    color: #fff;
	width: 35%;
    height: auto;
	transition: all 1s;
}

.btn-logout::after, .btn-logout::before {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    width: 30%; 
    height: auto;
    text-decoration: none;
    transition: background-color all 1.5s;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  transition: width 350ms ease-in-out all 1s;
  width: 30%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 30%;
}