p input[type="radio"] {
  display: none;
}

.reaction label {
  color: #fff;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion label:hover, .clasificacion label:hover ~ label {
  color:#950101;
}

p input[type="radio"]:checked ~ label {
  color: #950101;
}

/*index visitante */

.reactions2 label {
  color: #fff;
}

.reactions2 label:hover {
  color: #950101;
} 

.clasificacion2 {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion2 input[type="radio"] {
  display: none;
}

.clasificacion2 label:hover, .clasificacion2 label:hover ~ label {
  color:#950101;
}