/*CSS - index.php*/

/* CSS - style global */
.body {
	background-color: #000000;
}

.position-center {
	margin: 0 auto;
}

textarea {
  resize: none;
}

a {
	color: white;
}

.body {
	background: #232526;
}

/* CSS - Header */
.logo img {	
	width: 270px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* CSS - Nav */
.button-nav-active {
	background-color: #950101;
	color: white;
	height: 60px;
	width: 30%;
	border-radius: 5px;
	display: inline;
}

.buttons-nav {
	background-color: black;
	color: white;
	height: 60px;
	width: 30%;
	border-radius: 5px;
	display: inline;
	transition: background-color 2s;
}

.button-nav:hover {
	background-color: #950101;
	border-radius: 5px;
	width: 32%;
	height: 65px;
}

.buttons-nav-text a {
	text-decoration: none;
}

.text-nav p {
	color: white;
	size: 30px;
	font-weight: bold;
	display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  top: 100%;
  position: absolute;
  background-color: #5b5c5d;
  width: 100%;
  left: 0px;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  height: 50px;
  text-align:center;
  border: 1px dotted white; 
  padding: 8px;
	font-weight: bold;
}

.dropdown-content a:hover {background-color: #787a7b;}

.dropdown:hover .dropdown-content {display: block;}

/*CSS - Filtrar Por */

.text-filtered {
	color: white;
	opacity: 65%;
	text-decoration: none;
	font-weight: bold;
	display: inline;

}

.img-filtered:hover {
	opacity: 100%;
}

.text-filtered:hover {
	color: white;
	opacity: 100%;
}

.body-filtered {
	width: 98%;
	/*background-color: #323232;*/
	margin: 0 auto;
	border-radius: 5px;
}

.text-section-filtered {
	color: white;
	font-weight: bold;
	font-size: 13px;
}

.hr-filterd hr{
	background-color: #ffffff;
	border: none;
	height: 2px;
}

.filtered a{
	text-decoration: none;
}

/* CSS - Post */

.post {
	border: solid 2px white;
	border-radius: 22px;
}

.title-post {
	color: white;
	font-weight: bold;
}

.info-post p {
	color: white;
	border-bottom: solid 2px white;
}

.reactions-post p {
	color: white;
	display: inline;
}

.button-post {
	background-color: black;
	width: 100%;
	min-width: 165px;
	height: 40px;
	border-radius: 5px;
}

.button-post:hover {
	background-color: #950101;
}

.content-comment {
	max-height: 200px;
	overflow: auto;
}

.textarea-comment {
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 10px;
	min-width: 246px;
}

.submit-comment {
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 10px;
	font-weight: bold;
}

.submit-comment:hover {
	background-color: #950101;
}

.text-name-comment {
	color: white;
	font-weight: bold;
	display: inline;
}

.text-comment {
	color: white;
	padding-left: 1.5%;
}

/* CSS - Plataform */

.gif img {
	height: 150px;
	width: 350px;
}

.color-plataform {
	background-color: #950101;
}

a.color-select:hover {
	background-color:#7c0101;
}

/* CSS - Buzón */

.mailbox img {
	margin: auto;
	display: block;
	left: 90%;
	top: 87%;
	width: 60px;
	height: 60px;
	position: fixed;
}

.mailbox2 img {
	display: none;
}

.ventana-mailbox {
	background: #787a7b;
	width: 70%;
	height: 90%;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	color: white;
	border: solid 2px black;
}

.title-mailbox {
	display: inline;
	color: white;
	font-weight: bold;
}

.mailbox-chat {
	width: 97%;
	height: 80%;
	margin: 0 auto;
	background: #232526;
	overflow: auto;
	border-radius: 10px;
}

.textarea-mailbox {
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 5px;
	min-width: 120px;
}

.submit-mailbox {
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

.submit-mailbox:hover {
	background-color: #950101;
}

.text-name-mailbox {
	color: white;
	font-weight: bold;
	display: inline;
}

.text-mailbox {
	color: white;
	padding-left: 1.5%;
}

/*CSS - Login */

.caja {
	background: #787a7b;
	border-radius: 5px;
	padding: 20px;
	position: absolute;
	top: 55%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
}

.button-submit {
	background: #373b68;
	color: white;
	height: 50px;
	margin: 0 auto;
}

.margin-bottom label,input{
	margin-bottom: 1rem!important;
}

.align-input {
	margin: 0 auto;
	width: 100%;
	border-radius: 10px;
}

.logoblog {
	margin: 0 auto;
	position: absolute;
	top: 13%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 300px;
}

.logowelcome {
	margin: 0 auto;
	position: absolute;
	top: 67%;
	height: 200px;
	width: 150px;
}

.messagelogin {
	padding-left: 5%;
	color: white;
	background: red;
}


/* CSS - Registro */

.registro {
	background: #787a7b;
	border-radius: 5px;
	padding: 20px;
	position: absolute;
	top: 55%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
}

.logoblog2 {
	margin: 0 auto;
	position: absolute;
	top: 9%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 300px;
}

.button-submit {
	background: #373b68;
	color: white;
	height: 50px;
	margin: 0 auto;
}

.margin-bottom label,input{
	margin-bottom: 1rem!important;
}

.align-input {
	margin: 0 auto;
	width: 100%;
	border-radius: 10px;
}

.message {
	padding-left: 5%;
	color: white;
	background-color: green;
	font-weight: bold;
}

.message2 {
	color: white;
	background-color: red;
	font-weight: bold;
}

.coincide {
	color: #950101;
	font-weight: bold;
	display: inline;
}

.ventana-terms {
	background-color: #787a7b;
	padding: 10px;
	min-height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	color: white;
	border: solid 2px black;
	border-radius: 10px;
}

/* CSS - AVISO PARA EL VISITANTE */
.ventana-aviso-visitante {
	background-color: #787a7b;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	color: white;
	border-radius: 10px;
}

.title-aviso {
	display: inline;
	color: white;
	font-weight: bold;
	margin: 0 auto;
}

.contenido-aviso {
	margin: 0 auto;
	background: #232526;
	overflow: auto;
	border-radius: 10px;
}

.buttons-aviso {
	background-color: #373b68;
	color: white;
}

.buttons-aviso:hover {
	background-color: #252847;
}

.img-aviso img {
	width: 28px;
	height: 28px;
}